
 :root {
    --primary-color: #ffffff;
    --secondary-color: #7CBEB4; 
    --third-color: #F4EA82;
    --dark-grey: #2b2b2b;
    --font-family: 'Rubik', sans-serif;
    --visited-link: #E0827E; ;
  }
  
   body {
      font-family: var(  --font-family);
      font-weight: 300;
      font-size: 16px;
      color: var( --dark-grey);
      background-color:var( --primary-color);
      line-height: 1.6;
    }
 
  h1 {
    font-size: 30px;
    font-weight: 700;
    color:var( --dark-grey);
  }
  
  h2 {
    font-size: 24p x;
    font-weight: 300;
    color:var( --dark-grey);
  }
  
  h3 {
    font-size: 18px;
    font-weight: 700;
    color:var( --dark-grey);
  }
  
  a {
      color: var( --secondary-color);
   
    }
    a:visited {
      /* visited link */
      color: var( --visited-link);
    }
  
    
  a:hover, a:focus {
    color: var( --third-color);
    text-decoration: none;
    
  }

  .logo {
    size: 50%;
    margin-right: 40px;
    object-fit: cover;
  }

  .button-class {
    background-color:  var(--secondary-color);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid var(--secondary-color);
  }
    
#pokemon-modal {
  position: fixed;
  top: 50%;
  margin-left:  50%;
  transform: translate(-50%, -50%);
  justify-content: center;
 
}
.modal-dialog{
  
    position: fixed;
    margin:auto;
    width: auto;
    
    justify-content: center;
}

.modal-content{
  height: 90vh;
}

.modal-header{
  height: 25%;
}

.modal-body{
  height: 50%;
}

.modal-footer{
  height:25%;
}

#pokemon-img {
  width: 50%;
  height: 50%;
  margin-right: auto;
  justify-content: center;
}

 .list-group-item{
 
  background-color:rgb(98, 215, 143);
  border: none;
} 

.pokemon-button {
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  margin: 10px;
  height: 10%;
  width: 20%;
  color: black;
  text-transform: capitalize;
  font-family: 'Pokemon Solid', sans-serif;
                                                
}

  .modal-title {
    font-size: 6vw;
    
  }

  #details{
    font-size: 3vw;
  }

  .navbar-brand {
  color: var(--third-color);
  text-align: center;
  font-size: 60px;
  background: rgb(255, 255, 255);
  width: 100%;
  
}  

.pokemon-list {
  list-style: none;
  border-right: solid 3px white;
  border-left: solid 3px white;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.list-group-flush{
  border-style: none;
  background-color: rgb(249, 249, 251);
}

.list-group-item{
  background-color: transparent;
  border: none;
}

 
 .modal-is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.747);
  z-index: 999; 
  overflow: auto; 
  display: inline-block;
  text-align: center;

 }  

 @keyframes modal-container-display{
  0%{
    scale: .01;
    background: rgb(251, 251, 252);
  }
  20%{
    background: rgb(255, 255, 255);
  }
 
  100%{ 
    scale:1
  }
} 

 .modal {
  margin: auto;
  display: none;
  box-sizing: border-box;
  background: #ffffffe5;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  box-shadow: 0 12px 16px 0 rgba(45, 45, 46, 0.592);
  border-radius: 5px;
  animation: modal-container-display;
  animation-duration: .4s;
}  

.image-container{
  float: right;
}

.pokemon-image{
  display: inline-block;
  height: 250px;
  width: 250px;
  
}
 
.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #000000;
  font-weight: bold;
  font-size: large;
  
}
.modal-close:hover{
  cursor: pointer;
  color:rgb(252, 250, 250);
  scale: 1.2;
} 

.modal h1 {
  margin-top: 5%;
  left: 5%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.536);
  border-radius: 5px;
}

.modal p {
  margin-bottom: 0;
  font-size: large;
}

@media all and (max-width: 900px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-right: 10%;
    border-style: none;
  }
}
@media all and (max-width: 750px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-right: 10px;
    border-style: none;
  }
}

@media all and (max-width: 400px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-style: none;
  }
}

@media all and (max-width: 400px) {
  .Pokedex {
    text-align: center;
  }
} 

.footer-link{
  margin-left: 42%;
}